.dropdownWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .dropdownDispalyTxt {
        font-size: 14px;
        font-weight: 500;
        margin: 0 8px;
    }

}

.customBtnWrapper {
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

.primaryBtn {
    background-color: #FD4F86;
    color: #ffffff;
    font-weight: 500;
    transition: all 300ms ease-in;
}

.primaryBtn:hover {
    background-color: #f22f6d;
}


.customDropdownDrop {

    padding: 8px;
    border: 2px solid rgb(220, 220, 220);
    border-radius: 4px;

    option {
        padding: 8px;
        border: 2px solid rgb(220, 220, 220);
        border-radius: 4px;
    }
}

.customDropdownDrop option {
    padding: 8px;
    border: 2px solid rgb(250, 250, 250);
    border-radius: 8px;
}