.tabWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .tabItem {
        padding: 16px;
        background-color: #ffffff;
        border: 1px solid #adadad;
        min-width: 120px;
        border: 1px solid #e1e1e1;
        background-color: transparent;
        color: #adadad;
        transition: all 300ms ease-in;
        cursor: pointer;

        p {
            margin: 0;
        }
    }

    .tabItem:hover {
        background-color: #d2d7fb;

        p {
            color: #ffffff;
        }
    }

    .tabItem:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .tabItem:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }


    .tabItemActive {
        border: 1px solid #1a1ae4;
        background: #1919ec17;

        p {
            color: #1a1ae4;
        }
    }
}