.controllPanel {
    display: flex;
    align-items: center;

    button {
        margin-right: 12px;
    }
}

.commonStyle {
    position: relative;
}

.d_flex {
    display: flex;
    flex-direction: row;

}

.flex_column {
    flex-direction: column;
}

.align_items_center {
    align-items: center;
}

.align_items_normal {
    align-items: normal;
}


.space_between {
    justify-content: space-between;
}

.justify_center {
    justify-content: center;

}

.justify_flex_start {
    justify-content: flex-start;
}


.mrg_r_5 {
    margin-right: 2rem;
}

.mrg_l_5 {
    margin-left: 2rem;
}