.saveBtnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dateDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        margin-top: 2px;
        font-size: 12px;
        color: #f84242db;
    }

    input {
        width: 87% !important;
    }
}

.boxwrapper {
    position: relative !important;
    left: 15px;
}

.goBackIcon {
    position: relative;

    button {
        position: absolute;
        top: -40px;
    }
}