.saveBtnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dateDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        margin-top: 2px;
        font-size: 12px;
        color: #f84242db;
    }
}