// Banner
.bannerImage {
    // height: 25px;
    width: 100%;
    // margin-right: 8px;
}

// About us intro view
.aboutUsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 75%;

    p {
        margin: 4px 0;
    }
}

.aboutUsContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // height: 200px;
    width: 58%;

    h2 {
        font-size: 30px;
        font-weight: 700;
        margin: 8px 0;
        max-width: 410px;
        text-align: left;
    }

    p {
        font-size: 14px !important;
        color: #A5ABB0 !important;
        line-height: 1.5rem !important;
        text-align: left;
    }

    .aboutUsBtnBox {
        button {
            width: 180px;
            margin: 12px 0;
            background-color: transparent;
            border: 2px solid #FD5086;
            border-radius: 4px;
            padding: 12px;
            color: #FD5086;
            font-weight: 600;
            cursor: pointer;
            transition: all 300ms ease-in;
        }

        button:hover {
            background-color: #FD5086;
            color: #ffffff;
        }
    }
}


.colorTxt {
    color: #FD5586;
}

// About us button div
.aboutUsBtnBox {
    // margin-top: 8px;
}

.aboutUsBtn {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #CF4243;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

// About us image - right side
.imgContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 38%;
    max-height: 320px;
    border-radius: 8px;
    box-shadow: 1px 2px 2px 0px gray;


    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;

    }
}

.image {
    // height: 300px;
    width: 100%;
    // margin-right: 8px;
}

// Recent events
.recentEventsBox {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    // padding: 20px;
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 80px;
    width: 100%;
    background-color: #d2d2d2;
    height: 600px;
}

.eventImgBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    // margin-bottom: 40px;
}

.leftEventBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    // align-items: flex-start;
    // height: 200px;
    width: 30%;
    // margin-left: 120px;
    margin-right: 4px;
}

.leftEventBox img {
    height: 417px;
    // width: auto;
}

.middleEventBox {
    display: flex;
    flex-direction: column;
}

.upperImg {
    position: relative;
    display: inline-block;
}

.upperImg img {
    height: 200px;
    // width: 300px;
    padding: 8px;
}

.bottomImg img {
    height: 200px;
    // width: 300px;
    padding: 8px;
}

.bottomImg {
    position: relative;
    display: inline-block;
}

.rightEventBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    // align-items: flex-start;
    // height: 200px;
    width: 33%;
    // margin-right: 120px;
    margin-left: 4px;
}

.rightEventBox img {
    height: 417px;
    // width: auto;
}

.viewMoreBtnBox {
    margin: 12px;
}

.viewMoreBtn {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #CF4243;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.topText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px;
    // width: 100%;
    // color: white; 
}

.topText p {
    color: #EBE7E7;
    text-align: justify;
    font-size: 12px;
}

// Our achievements
.ourAchieveBox {
    display: flex;
    flex-direction: column;
    // margin-top: 80px;
    // padding: 24px;
    width: 100%;
    // background-color: #d2d2d2;
    background-image: url('../images/achievements.png');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.ourAchieveBox h2 {
    position: relative;
    z-index: 2;
}

.ourAchieveBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.ourAchieveBox img {
    position: relative;
    z-index: 1;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // margin-left: auto;
    // margin-right: auto;
    margin: 0 auto;
    width: 75%;
}

.contentBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin: 8px 0;
    justify-content: space-between;
    // width: 100%;
}

.imgBox {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-right: 8px;
}

.txtBox {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    margin-right: 8px;
}

.txtBox p {
    text-align: justify;
    margin: 4px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}

.achieveImages {
    height: 65px;
    width: 65px;
}

// Latest news
.recentNewsBox {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 100%;
    // background-color: #d2d2d2;
    height: 600px;
}

.newsImgBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    // margin-bottom: 40px;
}

.leftNewsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
}

.leftNewsBox img {
    height: 250px;
    width: auto;
}

.middleNewsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
}

.middleNewsBox img {
    height: 250px;
    width: auto;
}

.rightNewsBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin-left: 32px;
}

.rightNewsBox img {
    height: 250px;
    width: auto;
}

.readMoreBtnBox {
    margin: 12px;
}

.readMoreBtn {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #CF4243;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.newsTxtBox {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 8px;
}

.newsTxtBox p {
    text-align: justify;
    font-size: 12px;
}

.dateAndBtnBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.dateTag {
    color: #A8A8A8;
}

.linkBox:hover {
    text-decoration: #CF4243;
}

.linkBox a {
    align-items: center;
    margin-left: 44px;
    text-decoration: none;
    color: #6156DB;
    font-weight: 500;
    font-size: 14px;
}


// ***

.homeBannerWrapper {
    width: 75%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .bannerTextSection {
        display: flex;
        flex-direction: column;
        width: 40%;
        text-align: left;

        h4 {
            color: #164864;
            font-size: 24px;
            font-weight: 500;
            margin: 4px 0;
        }

        h6 {
            color: #164864;
            font-size: 14px;
            font-weight: 600;
            margin: 4px 0;
        }

        p {
            font-size: 14px;
            color: #A5ABB0;
            line-height: 1.5rem;
        }

        button {
            width: 180px;
            margin: 12px 0;
            background-color: transparent;
            border: 2px solid #FD5086;
            border-radius: 4px;
            padding: 12px;
            color: #FD5086;
            font-weight: 600;
            cursor: pointer;
            transition: all 300ms ease-in;
        }

        button:hover {
            background-color: #FD5086;
            color: #ffffff;
        }
    }

    .bannerImgSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;

        img {
            width: 100%;
        }
    }
}

.partnerSectionWrapper {
    width: 75%;
    margin: 12px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;

    h4 {
        margin: 8px 0;
        font-size: 28px;
        font-weight: 700;
    }

    .partnerSection {

        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logowrapper {
            max-width: 110px;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
}

.servicesSectionWrapper {
    width: 75%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .servicesTitle {
        margin: 12px 0;
        flex-direction: column;
        display: flex;
        align-items: center;

        h3 {
            margin: 8px 0;
            font-size: 28px;
            font-weight: 700;

        }

        p {
            font-size: 14px !important;
            color: #A5ABB0 !important;
            line-height: 1.5rem !important;
            text-align: center;
            max-width: 850px;
        }
    }

    .serviceItemsWrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .serviceItem {
            display: flex;
            align-items: center;
            box-shadow: 3px 0px 7px 3px #ada7a721;
            border-radius: 8px;
            width: 23%;
            margin: 36px 0;

            .serviceIcon {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #4849C8;
                width: 38%;
                height: 85px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;

                img {
                    width: 32px;
                }
            }

            .serviceDescription {
                display: flex;
                flex-direction: column;
                text-align: left;
                padding: 8px;
                background-color: #FFFFFF;
                width: 75%;

                h5 {
                    margin: 4px 0;
                }

                p {
                    margin: 4px 0;
                    font-size: 10px;
                    color: #A5ABB0 !important;
                }
            }
        }
    }

}

.wrapperHomeContactReady {
    width: 75%;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
        margin: 8px 0;
        font-size: 28px;
        font-weight: 700;
    }

    button {
        width: 180px;
        margin: 12px 0;
        background-color: transparent;
        border: 2px solid #FD5086;
        border-radius: 4px;
        padding: 12px;
        color: #FD5086;
        font-weight: 600;
        cursor: pointer;
        transition: all 300ms ease-in;
    }

    button:hover {
        background-color: #FD5086;
        color: #ffffff;
    }
}