table {
    width: 100%;
    position: relative;
}

.tableHeader {
    background: #dbddfd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;


    th {
        padding: 12px 0;
        position: sticky;
        top: 0;
    }

}

td {
    padding: 0 !important;
}

tr {
    margin-bottom: 10px !important;
}

.tableData {
    background-color: #ffffff;
    margin: 4px 0;

    td:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    td:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}

.tableData:first-child {
    margin-top: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}