.customDatePickerWrapper {
    display: flex;

    .datepicker {
        position: relative;

        .placeholder {
            position: absolute;
            top: 15px;
            left: 12px;
            font-size: 12px;
            color: #d4cfcf;
            z-index: 8;
            transition: all 500ms ease-in-out;
        }

        .onHoldPlaceHolder {
            top: 2px;
            color: #a1a0a0;
        }

        input {
            border: 2px solid rgba(207, 207, 207, 0.2705882353);
            border-radius: 4px;
            padding: 20px 8px 4px 12px;
            font-size: 14px;
            transition: all 500ms ease-in-out;
            width: 100%;
            font-size: 12px;
            color: #7f7f7f;
            font-weight: 600;
        }

        label {
            position: absolute;
            top: 15px;
            left: 12px;
            font-size: 12px;
            color: #c0c0c0;
            font-weight: 500;
            transition: all 500ms ease-in-out;
            cursor: text;
        }
    }
}

.datepickerFocus {
    label {
        top: 2px;
        color: #a1a0a0;
    }

    input {
        border: 2px solid #5d5c5c45;
    }

    input:focus {
        outline: none !important;
        border-color: #ababab45;
        border: 2px solid #5d5c5c45;
    }
}