@import '../../../styles/settings.scss';

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #4849c8;
    position: relative;
    align-items: baseline;
    padding: 16px;
    height: 108px;
    box-shadow: -1px 7px 10px 1px #b6b6b6;

    // width: 100%;
    // margin: 4px;
    // padding: 8px;
    p {
        margin: 0;
    }

    .footerItemsWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 87%;
        margin: 0 auto;

        .footerMainLogo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 120px;

            img {
                width: 60px;
            }

            p {
                white-space: nowrap;
                color: #FD5586;
                font-size: 12px;
                font-weight: 500;
            }
        }

        .linksList {
            display: flex;
            flex-direction: column;
            align-items: center;

            ul {
                display: flex;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 0;
                    padding: 0;
                    margin-right: 12px;


                    a {
                        text-decoration: none;
                        color: #ffffff;
                        font-size: 16px;
                        margin: 0 8px;
                    }
                }

            }

            p {
                color: #cdcdcd;
                font-size: 10px;
                margin-top: 8px;
            }
        }
    }

}

// Upper div with logo, page links, login and social media
.pagesLinkHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // height: 300px;
    width: 75%;
    padding: 16px;
}

// Left div - logo
.leftLogoBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;

    p {
        color: #FD5586;
        font-size: 12px;
        font-weight: 500;
    }
}

.logoImage {
    height: 50px;
    width: 50px;
    margin-left: 12px;
}

// RIght div - Links
.middleLinkBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 42%;
    // margin-left: 24px;
}

.middleLinkBox a {
    align-items: center;
    margin-left: 44px;
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 14px;
}

// Right box - with login/register and social media links images
.rightBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.loginBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
}

.loginBox p {
    color: #FFFBFB;
    font-size: 12px;
    font-weight: 500;
}

.socialMediaBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24px;
}

// Bottom div with contact details and news letter submission
.bottomBox {
    // display: flex;
    display: none;
    flex-direction: row;
    // align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 75%;
}

.contactDetailsBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
}

.contactDetailsBox p {
    margin: 4px;
    color: #FFF;
    font-size: 12px;
}

.newsLetterBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42%;
}

.newsLetterBox p {
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
}

.searchBox {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
}

.searchInput {
    // flex: 1; 
    padding: 10px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(217, 217, 217, 0.5);
}

.submitBtn {
    background-color: #FE5A87;
    color: #FFF;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    border-top-right-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
}

.bottomLineBox {
    display: flex;
    flex-shrink: 0;
    background-color: #032636;
    height: 50px;
    width: 100%;
}

.image {
    height: 25px;
    width: 25px;
    margin-right: 12px;
}

.subscriptWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        padding: 8px;
        border-radius: 8px;
        border: 3px solid rgb(158, 157, 157);

    }

    button {
        width: 120px;
        padding: 10px;
        margin-left: 8px;
        border-radius: 4px;
        border: none;
        background-color: #E91E63;
        color: #ffffff;
        cursor: pointer;

    }
}